In [ ]:

import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
%matplotlib inline

In [ ]:
from sklearn import linear_model
from sklearn.model_selection import train_test_split
from sklearn.datasets import load_boston
boston=load_boston()
print(boston)

{'data': array([[6.3200e-03, 1.8000e+01, 2.3100e+00, ..., 1.5300e+01, 3.9690e+02,
        4.9800e+00],
       [2.7310e-02, 0.0000e+00, 7.0700e+00, ..., 1.7800e+01, 3.9690e+02,
        9.1400e+00],
       [2.7290e-02, 0.0000e+00, 7.0700e+00, ..., 1.7800e+01, 3.9283e+02,
        4.0300e+00],
       ...,
       [6.0760e-02, 0.0000e+00, 1.1930e+01, ..., 2.1000e+01, 3.9690e+02,
        5.6400e+00],
       [1.0959e-01, 0.0000e+00, 1.1930e+01, ..., 2.1000e+01, 3.9345e+02,
        6.4800e+00],
       [4.7410e-02, 0.0000e+00, 1.1930e+01, ..., 2.1000e+01, 3.9690e+02,
        7.8800e+00]]), 'target': array([24. , 21.6, 34.7, 33.4, 36.2, 28.7, 22.9, 27.1, 16.5, 18.9, 15. ,
       18.9, 21.7, 20.4, 18.2, 19.9, 23.1, 17.5, 20.2, 18.2, 13.6, 19.6,
       15.2, 14.5, 15.6, 13.9, 16.6, 14.8, 18.4, 21. , 12.7, 14.5, 13.2,
       13.1, 13.5, 18.9, 20. , 21. , 24.7, 30.8, 34.9, 26.6, 25.3, 24.7,
       21.2, 19.3, 20. , 16.6, 14.4, 19.4, 19.7, 20.5, 25. , 23.4, 18.9,
       35.4, 24.7, 31.6, 23.3, 19.6, 18.7, 16. , 22.2, 25. , 33. , 23.5,
       19.4, 22. , 17.4, 20.9, 24.2, 21.7, 22.8, 23.4, 24.1, 21.4, 20. ,
       20.8, 21.2, 20.3, 28. , 23.9, 24.8, 22.9, 23.9, 26.6, 22.5, 22.2,
       23.6, 28.7, 22.6, 22. , 22.9, 25. , 20.6, 28.4, 21.4, 38.7, 43.8,
       33.2, 27.5, 26.5, 18.6, 19.3, 20.1, 19.5, 19.5, 20.4, 19.8, 19.4,
       21.7, 22.8, 18.8, 18.7, 18.5, 18.3, 21.2, 19.2, 20.4, 19.3, 22. ,
       20.3, 20.5, 17.3, 18.8, 21.4, 15.7, 16.2, 18. , 14.3, 19.2, 19.6,
       23. , 18.4, 15.6, 18.1, 17.4, 17.1, 13.3, 17.8, 14. , 14.4, 13.4,
       15.6, 11.8, 13.8, 15.6, 14.6, 17.8, 15.4, 21.5, 19.6, 15.3, 19.4,
       17. , 15.6, 13.1, 41.3, 24.3, 23.3, 27. , 50. , 50. , 50. , 22.7,
       25. , 50. , 23.8, 23.8, 22.3, 17.4, 19.1, 23.1, 23.6, 22.6, 29.4,
       23.2, 24.6, 29.9, 37.2, 39.8, 36.2, 37.9, 32.5, 26.4, 29.6, 50. ,
       32. , 29.8, 34.9, 37. , 30.5, 36.4, 31.1, 29.1, 50. , 33.3, 30.3,
       34.6, 34.9, 32.9, 24.1, 42.3, 48.5, 50. , 22.6, 24.4, 22.5, 24.4,
       20. , 21.7, 19.3, 22.4, 28.1, 23.7, 25. , 23.3, 28.7, 21.5, 23. ,
       26.7, 21.7, 27.5, 30.1, 44.8, 50. , 37.6, 31.6, 46.7, 31.5, 24.3,
       31.7, 41.7, 48.3, 29. , 24. , 25.1, 31.5, 23.7, 23.3, 22. , 20.1,
       22.2, 23.7, 17.6, 18.5, 24.3, 20.5, 24.5, 26.2, 24.4, 24.8, 29.6,
       42.8, 21.9, 20.9, 44. , 50. , 36. , 30.1, 33.8, 43.1, 48.8, 31. ,
       36.5, 22.8, 30.7, 50. , 43.5, 20.7, 21.1, 25.2, 24.4, 35.2, 32.4,
       32. , 33.2, 33.1, 29.1, 35.1, 45.4, 35.4, 46. , 50. , 32.2, 22. ,
       20.1, 23.2, 22.3, 24.8, 28.5, 37.3, 27.9, 23.9, 21.7, 28.6, 27.1,
       20.3, 22.5, 29. , 24.8, 22. , 26.4, 33.1, 36.1, 28.4, 33.4, 28.2,
       22.8, 20.3, 16.1, 22.1, 19.4, 21.6, 23.8, 16.2, 17.8, 19.8, 23.1,
       21. , 23.8, 23.1, 20.4, 18.5, 25. , 24.6, 23. , 22.2, 19.3, 22.6,
       19.8, 17.1, 19.4, 22.2, 20.7, 21.1, 19.5, 18.5, 20.6, 19. , 18.7,
       32.7, 16.5, 23.9, 31.2, 17.5, 17.2, 23.1, 24.5, 26.6, 22.9, 24.1,
       18.6, 30.1, 18.2, 20.6, 17.8, 21.7, 22.7, 22.6, 25. , 19.9, 20.8,
       16.8, 21.9, 27.5, 21.9, 23.1, 50. , 50. , 50. , 50. , 50. , 13.8,
       13.8, 15. , 13.9, 13.3, 13.1, 10.2, 10.4, 10.9, 11.3, 12.3,  8.8,
        7.2, 10.5,  7.4, 10.2, 11.5, 15.1, 23.2,  9.7, 13.8, 12.7, 13.1,
       12.5,  8.5,  5. ,  6.3,  5.6,  7.2, 12.1,  8.3,  8.5,  5. , 11.9,
       27.9, 17.2, 27.5, 15. , 17.2, 17.9, 16.3,  7. ,  7.2,  7.5, 10.4,
        8.8,  8.4, 16.7, 14.2, 20.8, 13.4, 11.7,  8.3, 10.2, 10.9, 11. ,
        9.5, 14.5, 14.1, 16.1, 14.3, 11.7, 13.4,  9.6,  8.7,  8.4, 12.8,
       10.5, 17.1, 18.4, 15.4, 10.8, 11.8, 14.9, 12.6, 14.1, 13. , 13.4,
       15.2, 16.1, 17.8, 14.9, 14.1, 12.7, 13.5, 14.9, 20. , 16.4, 17.7,
       19.5, 20.2, 21.4, 19.9, 19. , 19.1, 19.1, 20.1, 19.9, 19.6, 23.2,
       29.8, 13.8, 13.3, 16.7, 12. , 14.6, 21.4, 23. , 23.7, 25. , 21.8,
       20.6, 21.2, 19.1, 20.6, 15.2,  7. ,  8.1, 13.6, 20.1, 21.8, 24.5,
       23.1, 19.7, 18.3, 21.2, 17.5, 16.8, 22.4, 20.6, 23.9, 22. , 11.9]), 'feature_names': array(['CRIM', 'ZN', 'INDUS', 'CHAS', 'NOX', 'RM', 'AGE', 'DIS', 'RAD',
       'TAX', 'PTRATIO', 'B', 'LSTAT'], dtype='<U7'), 'DESCR': ".. _boston_dataset:\n\nBoston house prices dataset\n---------------------------\n\n**Data Set Characteristics:**  \n\n    :Number of Instances: 506 \n\n    :Number of Attributes: 13 numeric/categorical predictive. Median Value (attribute 14) is usually the target.\n\n    :Attribute Information (in order):\n        - CRIM     per capita crime rate by town\n        - ZN       proportion of residential land zoned for lots over 25,000 sq.ft.\n        - INDUS    proportion of non-retail business acres per town\n        - CHAS     Charles River dummy variable (= 1 if tract bounds river; 0 otherwise)\n        - NOX      nitric oxides concentration (parts per 10 million)\n        - RM       average number of rooms per dwelling\n        - AGE      proportion of owner-occupied units built prior to 1940\n        - DIS      weighted distances to five Boston employment centres\n        - RAD      index of accessibility to radial highways\n        - TAX      full-value property-tax rate per $10,000\n        - PTRATIO  pupil-teacher ratio by town\n        - B        1000(Bk - 0.63)^2 where Bk is the proportion of blacks by town\n        - LSTAT    % lower status of the population\n        - MEDV     Median value of owner-occupied homes in $1000's\n\n    :Missing Attribute Values: None\n\n    :Creator: Harrison, D. and Rubinfeld, D.L.\n\nThis is a copy of UCI ML housing dataset.\nhttps://archive.ics.uci.edu/ml/machine-learning-databases/housing/\n\n\nThis dataset was taken from the StatLib library which is maintained at Carnegie Mellon University.\n\nThe Boston house-price data of Harrison, D. and Rubinfeld, D.L. 'Hedonic\nprices and the demand for clean air', J. Environ. Economics & Management,\nvol.5, 81-102, 1978.   Used in Belsley, Kuh & Welsch, 'Regression diagnostics\n...', Wiley, 1980.   N.B. Various transformations are used in the table on\npages 244-261 of the latter.\n\nThe Boston house-price data has been used in many machine learning papers that address regression\nproblems.   \n     \n.. topic:: References\n\n   - Belsley, Kuh & Welsch, 'Regression diagnostics: Identifying Influential Data and Sources of Collinearity', Wiley, 1980. 244-261.\n   - Quinlan,R. (1993). Combining Instance-Based and Model-Based Learning. In Proceedings on the Tenth International Conference of Machine Learning, 236-243, University of Massachusetts, Amherst. Morgan Kaufmann.\n", 'filename': '/usr/local/lib/python3.7/dist-packages/sklearn/datasets/data/boston_house_prices.csv'}

In [ ]:
df_x=pd.DataFrame(boston.data,columns=boston.feature_names)
df_y=pd.DataFrame(boston.target)

In [ ]:
df_x.head()

      CRIM    ZN  INDUS  CHAS    NOX  ...  RAD    TAX  PTRATIO       B  LSTAT
0  0.00632  18.0   2.31   0.0  0.538  ...  1.0  296.0     15.3  396.90   4.98
1  0.02731   0.0   7.07   0.0  0.469  ...  2.0  242.0     17.8  396.90   9.14
2  0.02729   0.0   7.07   0.0  0.469  ...  2.0  242.0     17.8  392.83   4.03
3  0.03237   0.0   2.18   0.0  0.458  ...  3.0  222.0     18.7  394.63   2.94
4  0.06905   0.0   2.18   0.0  0.458  ...  3.0  222.0     18.7  396.90   5.33

[5 rows x 13 columns]

In [ ]:
df_y.head()

      0
0  24.0
1  21.6
2  34.7
3  33.4
4  36.2

In [ ]:
df_x.describe()

             CRIM          ZN       INDUS  ...     PTRATIO           B       LSTAT
count  506.000000  506.000000  506.000000  ...  506.000000  506.000000  506.000000
mean     3.613524   11.363636   11.136779  ...   18.455534  356.674032   12.653063
std      8.601545   23.322453    6.860353  ...    2.164946   91.294864    7.141062
min      0.006320    0.000000    0.460000  ...   12.600000    0.320000    1.730000
25%      0.082045    0.000000    5.190000  ...   17.400000  375.377500    6.950000
50%      0.256510    0.000000    9.690000  ...   19.050000  391.440000   11.360000
75%      3.677083   12.500000   18.100000  ...   20.200000  396.225000   16.955000
max     88.976200  100.000000   27.740000  ...   22.000000  396.900000   37.970000

[8 rows x 13 columns]

In [ ]:
reg=linear_model.LinearRegression()

In [ ]:
x_test,x_train,y_test,y_train=train_test_split(df_x,df_y,test_size=0.33,random_state=42)

In [ ]:
reg.fit(x_train,y_train)

In [ ]:
print(reg.coef_)

[[-1.08271273e-01  5.73568147e-02 -7.58722261e-02  4.40728664e-01
  -2.07202790e+01  3.54925846e+00  2.28659315e-02 -1.60362932e+00
   4.35991537e-01 -1.99523273e-02 -9.78874398e-01  4.36409529e-03
  -4.59260009e-01]]

In [ ]:
y_predict=reg.predict(x_test)
print(y_predict)

[[19.31336627]
 [16.31127081]
 [20.89633522]
 [11.56444727]
 [23.06372302]
 [23.1814242 ]
 [31.98843019]
 [21.71853912]
 [20.47905877]
 [24.92006346]
 [30.42385473]
 [31.74411753]
 [29.13796741]
 [ 8.73152034]
 [ 7.62042481]
 [13.58745484]
 [17.03525079]
 [32.35003835]
 [32.16729775]
 [17.92049123]
 [ 4.28240967]
 [29.51909205]
 [20.13117191]
 [18.31605277]
 [25.99095354]
 [18.59000003]
 [17.70397961]
 [12.43929657]
 [31.63546133]
 [23.09151008]
 [20.34076298]
 [19.55961218]
 [12.76951538]
 [28.63027798]
 [16.74167412]
 [30.87117266]
 [34.31582781]
 [25.37973897]
 [21.36292837]
 [25.12870469]
 [37.63557514]
 [29.15590017]
 [33.83011415]
 [23.146128  ]
 [26.30152776]
 [16.9227727 ]
 [28.00205774]
 [20.38372214]
 [31.50778967]
 [28.64809591]
 [19.48543004]
 [19.52800887]
 [13.14187377]
 [34.54289188]
 [38.28844719]
 [32.98529038]
 [ 7.12813864]
 [20.44157932]
 [23.19789079]
 [35.90766044]
 [15.32701578]
 [23.41070328]
 [20.66268797]
 [27.25960661]
 [16.09403965]
 [21.73732346]
 [25.9892617 ]
 [30.92266928]
 [32.88959862]
 [23.3659696 ]
 [33.39319716]
 [27.20998294]
 [30.12735188]
 [28.22803314]
 [19.60287453]
 [29.8091822 ]
 [16.50126141]
 [25.2192515 ]
 [24.14596362]
 [20.32256533]
 [ 4.86589858]
 [20.64417569]
 [27.67990226]
 [22.8240955 ]
 [18.78045489]
 [22.78642514]
 [17.10468596]
 [31.26674073]
 [26.42687088]
 [34.77078842]
 [20.28995203]
 [15.96058173]
 [19.16482637]
 [ 8.49251825]
 [15.41889649]
 [27.13227342]
 [17.30953536]
 [ 1.34531025]
 [25.71101964]
 [11.85688874]
 [28.67978852]
 [33.86443069]
 [35.91827115]
 [26.24465453]
 [20.83537121]
 [32.81732976]
 [36.1823868 ]
 [19.73134307]
 [18.06212922]
 [29.16632313]
 [14.0797076 ]
 [16.99977588]
 [11.50640049]
 [21.1518842 ]
 [22.42684968]
 [32.62969717]
 [30.67441729]
 [18.77467323]
 [27.88810375]
 [12.94912952]
 [16.22366601]
 [34.70035165]
 [19.61488982]
 [13.9367889 ]
 [22.37299186]
 [18.74777137]
 [19.44385448]
 [23.67755998]
 [31.29697524]
 [ 7.10247069]
 [21.13713095]
 [33.77412733]
 [18.61316765]
 [20.88483422]
 [21.94606311]
 [20.03628001]
 [14.10603631]
 [37.23792441]
 [25.65189737]
 [23.91190849]
 [14.66548686]
 [33.05893491]
 [37.98073801]
 [38.00827222]
 [20.89006705]
 [21.39383023]
 [15.74085057]
 [38.7040203 ]
 [ 9.16744929]
 [22.18957363]
 [14.05946963]
 [27.30887552]
 [12.01499638]
 [21.18880947]
 [ 2.68448176]
 [17.47461037]
 [14.37999555]
 [12.57231455]
 [22.96662061]
 [16.12790241]
 [30.11462756]
 [42.95398515]
 [28.08664572]
 [24.87079807]
 [36.34364767]
 [12.1757743 ]
 [23.874205  ]
 [20.94484475]
 [24.59065838]
 [20.15055579]
 [22.42621594]
 [12.11191537]
 [18.38775867]
 [21.14499092]
 [23.75307118]
 [29.08640597]
 [24.78600346]
 [27.94356826]
 [18.01252945]
 [13.87994655]
 [32.1018257 ]
 [26.75155598]
 [12.68763071]
 [16.92928948]
 [23.45947866]
 [38.66769824]
 [23.65952983]
 [15.32155653]
 [28.13480695]
 [37.97814879]
 [21.94710975]
 [24.31986118]
 [38.04092978]
 [20.26598976]
 [24.52852597]
 [17.43817713]
 [23.79147036]
 [34.42388553]
 [32.24458012]
 [24.06103322]
 [20.62728398]
 [19.67403882]
 [11.0858068 ]
 [41.46981245]
 [19.28437864]
 [29.6887857 ]
 [19.21838991]
 [16.00131323]
 [19.77987141]
 [25.61226929]
 [35.98258029]
 [27.75077275]
 [36.50864177]
 [14.88413948]
 [12.98777051]
 [24.75805478]
 [15.95585735]
 [17.54443497]
 [27.29891784]
 [13.85146315]
 [22.80146904]
 [17.64960272]
 [23.92521416]
 [30.9931152 ]
 [19.64305947]
 [14.05809921]
 [34.07505782]
 [17.11306305]
 [16.76483464]
 [20.1440208 ]
 [24.35818313]
 [35.87759581]
 [13.1635184 ]
 [25.76398086]
 [20.07922274]
 [28.74069336]
 [18.71181454]
 [20.87444362]
 [26.95355367]
 [18.83088708]
 [23.87903413]
 [19.86711259]
 [19.10506555]
 [32.13932768]
 [19.76359413]
 [24.71725478]
 [29.56971489]
 [34.96083784]
 [23.69180088]
 [28.51510254]
 [17.85903462]
 [29.74818809]
 [23.78685826]
 [36.49906068]
 [19.43158843]
 [23.89086701]
 [14.47480235]
 [25.58071752]
 [17.6755171 ]
 [ 8.18541029]
 [18.19214049]
 [15.788594  ]
 [28.11176138]
 [21.94656988]
 [15.74281995]
 [19.53476682]
 [35.97594709]
 [15.17590114]
 [15.65133411]
 [28.13681065]
 [21.74440842]
 [21.45364521]
 [27.1510355 ]
 [15.8928098 ]
 [37.17096605]
 [24.89105313]
 [19.20148424]
 [20.81950893]
 [31.28119639]
 [ 6.53175885]
 [33.29143469]
 [35.53937938]
 [20.03740596]
 [20.98439461]
 [12.74991674]
 [37.37615075]
 [19.06070747]
 [21.1544483 ]
 [26.73898904]
 [15.03634654]
 [17.50741273]
 [22.00673805]
 [19.42575228]
 [27.51830878]
 [13.67524985]
 [33.99593327]
 [22.07422205]
 [21.35264673]
 [33.25853846]
 [26.03098613]
 [21.73495978]
 [11.86870587]
 [27.70864848]
 [26.17230766]
 [23.33279909]
 [18.39842612]
 [25.65965507]
 [17.71046645]
 [29.45600147]
 [33.63479489]
 [17.83383977]
 [29.45153054]
 [ 9.02787404]
 [24.38565847]
 [13.34470455]
 [27.75914872]
 [43.95715229]
 [28.40897528]
 [14.24901351]
 [18.42347516]
 [17.41636794]
 [18.08315838]
 [32.3882355 ]
 [23.31799722]
 [26.53646185]
 [17.02029974]
 [20.45241481]
 [11.72968768]
 [15.78069589]
 [22.29093731]
 [22.05063004]
 [14.12878208]
 [31.85463306]
 [20.71055212]
 [18.09876858]
 [23.04972205]
 [27.79579219]
 [14.6193253 ]
 [21.42578214]]

In [ ]:
print(np.mean((y_predict-y_test)**2))

0    25.972546
dtype: float64

In [ ]:
from sklearn.metrics import mean_squared_error
print(mean_squared_error(y_test,y_predict))

25.97254623013241